{% extends "base.html" %}
{% block announce %}
  For updates subscribe to the
  <a href="https://diefergil.github.io/personal-notes/newsletter/0_newsletter_index/"><strong>RSS feed</strong></a>
  <img src="/personal-notes/img/ia_image.jpeg" height="15" width="15">
{% endblock %}
{% block content %}
  <!-- Google AdSense Code -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4806129530093947"
     crossorigin="anonymous"></script>
  <!-- End Google AdSense Code -->
  {{ super() }}
{% endblock %}
